<extend name="Public/base"/>
<block name="bodyclass">class="signin"</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            toastr.options.timeOut =2000;
            toastr.options.progressBar=true;
            $("#bt_login").click(function(){
                $.post("{:U('Index/login?dosubmit=1')}", $("form").serialize(), function(data){
                    if(!data.status){
                        swal({title:"发生了什么？",text:data.info,type:"error"});
                        return;
                    }else{
                        window.location.href = data.url;
                    }
                },'json');


            });
        });
    </script>
</block>
<block name="body">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ HiCMS ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>HiCMS</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form class="form-horizontal m-t" id="commentForm">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到HiCMS后台</p>
                    <input type="text" name="username" class="form-control uname" placeholder="用户名" />
                    <input type="password" name="password" class="form-control pword m-b" placeholder="密码" />
                    <a href="">忘记密码了？</a>
                    <button id="bt_login" class="btn btn-success btn-block" type="button">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015 All Rights Reserved. 811046@qq.com
            </div>
        </div>
    </div>
</block>