<extend name="Public/mainbase"/>
<block name="linkcss">
    <link href="__CSS__/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!--<link href="__CSS__/plugins/smartselect/smartselect.min.css" rel="stylesheet">-->
</block>
<block name="script">
    <!--<script src="__JS__/plugins/smartselect/jquery.smartselect.min.js"></script>-->
    <script src="__JS__/jsonCategoryToSelector.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#{$Think.CONTROLLER_NAME}_{$Think.MODULE_NAME}_{$Think.ACTION_NAME}_parentid').jsonCategoryToSelector({
                //显示的key值
                nameKey  : 'text',
                //分类选项的值
                valueKey : 'id',
                //子分类的key值
                subKey   : 'children',
                //值是标识在标签的哪个属性里
                val_attr : 'value',
                class_name : 'form-control m-b required ',
                //选定的值
                cur_val:'{$parentid}',
                dataUrl : '{:U('System/getMenuSelectTree')}',
                    defaultOpt : {name  : '作为顶级菜单', value : "0",show  : 1}
        });
        //$('#{$Think.CONTROLLER_NAME}_{$Think.MODULE_NAME}_{$Think.ACTION_NAME}_form').validate();
        });
    </script>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form method="post" class="form-horizontal" id="{$Think.CONTROLLER_NAME}_{$Think.MODULE_NAME}_{$Think.ACTION_NAME}_form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上级菜单</label>

                            <div class="col-sm-10">
                                <input type="text" name="info[parentid]" id="{$Think.CONTROLLER_NAME}_{$Think.MODULE_NAME}_{$Think.ACTION_NAME}_parentid" />
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 必填</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">菜单名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="info[name]" id="system_menu_form_edit_name" required>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 必填</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模块名称</label>

                            <div class="col-sm-10">
                                <input type="text" name="info[c]" id="system_menu_form_edit_c" class="form-control" required>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 必填</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">方法名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="info[a]" id="system_menu_form_edit_a" required>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 必填</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">附加参数</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control"  name="info[data]"  value="{$info['data']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否显示菜单
                            </label>

                            <div class="col-sm-10">

                                <div class="radio">
                                    <label>
                                        <input type="radio" checked name="info[display]" value="1" id="optionsRadios1" >是</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"  value="0" id="optionsRadios2" name="info[display]">否</label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


</block>
