<extend name="Public/mainbase"/>
<block name="linkcss">
    <link href="__CSS__/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</block>
<block name="script">
    <script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
</block>
<block name="body">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="{:U('System/menuList')}" data-target="#{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}_modal">
        show me
    </button>

</block>
