<extend name="Public/mainbase"/>
<block name="linkcss">
    <link href="__CSS__/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <!--<link href="__CSS__/plugins/smartselect/smartselect.min.css" rel="stylesheet">-->
</block>
<block name="script">
    <script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
    <!--<script src="__JS__/plugins/smartselect/jquery.smartselect.min.js"></script>-->
    <script src="__JS__/jsonCategoryToSelector.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#parentid').jsonCategoryToSelector({
                        //显示的key值
                        nameKey  : 'text',
                        //分类选项的值
                        valueKey : 'id',
                        //子分类的key值
                        subKey   : 'children',
                        //值是标识在标签的哪个属性里
                        val_attr : 'value',
                        class_name : 'form-control m-b',
                        dataUrl : '{:U('System/getMenuSelectTree')}'
        });
            //$('#parentid').val("{$info['id']}");
            $("#parentid").find("option[value='{$info['id']}']").attr("selected",true);
        });
    </script>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上级菜单</label>

                            <div class="col-sm-10">
                                <input type="text" name="parentid" id="parentid" value="" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">菜单名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{$info['name']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">菜单名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模块名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">方法名称</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">附加参数</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否显示菜单
                            </label>

                            <div class="col-sm-10">

                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">是</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">否</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


</block>
