<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{$settings['title']}</title>
    <meta name="description" content="{$settings['description']}">
    <meta name="keywords" content=" {$settings['keywords']}">
    <link rel="shortcut icon" href="favicon.ico"> <link href="__CSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/jquery.spinner.css" rel="stylesheet">
    <link href="__CSS__/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/bootstrapvalidator/bootstrapValidator.css" rel="stylesheet">
    <link href="__CSS__/style.css" rel="stylesheet">


    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/jquery.spinner.js"></script>
    <script src="__JS__/sweetalert.min.js"></script>
    <script src="__JS__/cityselect/jquery.cityselect.js"></script>
    <script src="__JS__/bootstrapvalidator/bootstrapValidator.js"></script>
    <script src="__JS__/bootstrap.min.js?v=3.3.5"></script>

    <script type="text/javascript">
        $(function () {
            var item_price={$item_price};
            $("img").addClass("img-responsive");
            $("img").addClass("center-block");
            $(".good_img>a").click(function(){
                $(".good_img>a").removeClass("selected");
                $(this).addClass("selected");
            });
            $('.spinner').spinner({
                min:1,
                value:1,
                changed:function(e,oldValue,newValue){
                    $("#price").html(newValue* parseFloat($("input[name$='item_price']").val()));
                    $("input[name$='total_price']").val(newValue* parseFloat($("input[name$='item_price']").val()));
                    $("input[name$='quantity']").val(newValue);

                }
            });
            $(".btn-item-name").click(function(){
                $(".btn-item-name").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
                $("input[name$='item_name']").val($(this).attr('data-val'));
                $("input[name$='item_price']").val(item_price[$(this).attr('data-key')]);
                $("#price0").html(item_price[$(this).attr('data-key')]);
                $("#price").html(item_price[$(this).attr('data-key')]);
            });
            $(".btn-form-name").click(function(){
                $(".btn-form-name").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
                $("input[name$='form_name']").val($(this).attr('data-val'));
            });
            $(".btn-pay").click(function(){
                $(".btn-pay").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
            $("#city").citySelect({
                url:"__JS__/cityselect/city.min.js",
                nodata:"none",
                required:false
            });


            $("#save").click(function(){
                //验证表单
                /*$("form").bootstrapValidator('validate').on('success.form.bv',function(e){
                    e.preventDefault();
                    $.post("{:U('Index/Order')}", $("form").serialize(), function(data){

                    },'json');
                });*/
                $.post("{:U('Index/Order')}", $("form").serialize(), function(data,status){
                    if(data.status){
                        $("input[name$='name']").val("");
                        $("input[name$='phone']").val("");
                        swal({title:"恭喜！",text:data.info,type:"success"});
                    }
                    else{
                        swal({title:"您好像没填完您的信息？",text:data.info,type:"error"});
                    }
                },'json');

            });
        });
    </script>

</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #337ab7;border: 0px;">
        <div class="navbar-inner navbar-content-center">
            <!--<p class="text-center credit" style="padding: 10px;">
                ....
            </p>-->
            <ul class="nav navbar-nav col-sm-12 col-xs-12">
                <li class="col-sm-6 col-xs-6" >
                    <a href="#order-box" class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i>立刻购买</a>
                </li>
                <li class="col-sm-6 col-xs-6" >
                    <a href="#" class="pull-left" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-list"></i>我的订单</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container" style="background-color: rgba(255, 255, 255, .2);">
        <div class="row">
            <div class="col-sm-12 col-xs-12 header">
                <h4 class="text-center">
                    {$good['title']}
                </h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-xs-12" >
                <div class="remark">
                    {$good['remark']}
                </div>

            </div>
        </div>
        <a name="order-box"></a>
        <div class="row" name="order-box">
            <div class="col-sm-12 col-xs-12" >
                <div class="panel panel-info order">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-shopping-cart"></i><span>{$good['title']}</span></h3>
                    </div>
                    <div class="panel-body">
                        <form method="post"  onsubmit="return false;" class="form-horizontal" name="{$Think.CONTROLLER_NAME}_{$Think.MODULE_NAME}_{$Think.ACTION_NAME}_form">
                            <div class="form-group" >
                                <label class="col-sm-2 col-xs-4 control-label" >
                                    {$good['item_title']}
                                </label>
                                <div class=" btn-group col-sm-10  col-xs-8 " role="group" aria-label="...">

                                    <foreach name="good.item_name" item="vo" key="k" >
                                        <button type="button" class="btn btn-default btn-item-name" data-key="{$k}" data-val="{$vo}">{$vo}</button>
                                    </foreach>
                                    <input type="hidden" name="item_name" value="">
                                </div>

                            </div>
                            <br>
                            <div class="form-group" >
                                <label class="col-sm-2 col-xs-4 control-label" >
                                    {$good['form_title']}
                                </label>
                                <div class=" btn-group col-sm-10  col-xs-8" role="group2" aria-label="...">
                                    <foreach name="good.form_name" item="vo" key="k" >
                                        <button type="button" class="btn btn-default btn-form-name" data-key="{$k}" data-val="{$vo}">{$vo}</button>
                                    </foreach>
                                    <input type="hidden" name="form_name" value="">
                                </div>

                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >
                                    商品价格
                                </label>
                                <div class="col-sm-10  col-xs-8" style="color:red;"><strong><del>{$good['original_price']}元</del></strong>&nbsp;&nbsp;&nbsp;<strong id="price0">{$good['price']}</strong>元</div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >
                                    订单价格
                                </label>
                                <div class="col-sm-10  col-xs-8" style="color:red;"><strong id="price">{$good['price']}</strong>元</div>
                                <input type="hidden" name="item_price" value="{$good['price']}">
                                <input  type="hidden" name="quantity" value="1"/>
                                <input type="hidden" name="total_price" value="{$good['price']}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >购买数量</label>
                                <div class="col-sm-1  col-xs-8">
                                    <input  type="text"  class="spinner"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >收货人</label>
                                <div class="col-sm-4  col-xs-8">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入收货人姓名" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >手机号码</label>
                                <div class="col-sm-4  col-xs-8">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="请输入手机号码" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label " >地区</label>

                                <div id="city" class="col-sm-8  col-xs-8 region">
                                    <select name="region[prov]" class="form-control pull-left prov"></select>
                                    <select name="region[city]" class="form-control pull-left city" disabled="disabled"></select>
                                    <select name="region[dist]" class="form-control pull-left dist" disabled="disabled"></select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >详细地址</label>
                                <div class="col-sm-10  col-xs-8">
                                    <input type="text" class="form-control" name="address" id="address" placeholder="请输入详细地址" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-4 control-label" >支付方式</label>
                                <div class="btn-group col-sm-10  col-xs-8" role="group" aria-label="...">
                                    <button type="button" class="btn btn-primary btn-pay" data-val="1">货到付款</button>
                                    <!--<button type="button" class="btn btn-default btn-pay" data-val="2">微信支付</button>-->
                                </div>
                                <input name="payment" type="hidden" value="1">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12  col-xs-12">
                                    <button type="button" id="save" class="btn btn-success  btn-lg btn-block ">确认提交</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查询订单</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" onsubmit="return false;" class="form-horizontal" name="order_form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">收货人姓名</label>

                        <div class="col-sm-6">
                            <input type="text" name="sn" id="order_name" class="form-control" value="" placeholder="请输入收货人姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">收货人手机</label>

                        <div class="col-sm-6">
                            <input type="text" name="phone" id="order_phone" class="form-control" value="" placeholder="请输入收货人手机">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">查询</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>