<extend name="Public/mainbase"/>
<block name="linkcss">
    <link rel="stylesheet" type="text/css" href="__CSS__/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/plugins/switchery/switchery.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/plugins/iCheck/custom.css">
</block>
<block name="script">
    <script src="__JS__/plugins/webuploader/webuploader.min.js"></script>
    <script src="__JS__/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <script src="__JS__/plugins/switchery/switchery.js"></script>
    <script src="__JS__/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        $( 'input[type="file"]' ).prettyFile();
        // 初始化Web Uploader
        var ratio = window.devicePixelRatio || 1,

            // 缩略图大小
                thumbnailWidth = 100 * ratio,
                thumbnailHeight = 100 * ratio;
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '__JS__/plugins/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: "{:U('Setting/uploadOne')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                            '<div id="' + file.id + '" class="file-item thumbnail">' +
                            '<img>' +
                            '<div class="info">' + file.name + '</div>' +
                            '</div>'
                    ),
                    $img = $li.find('img');


            // $list为容器jQuery实例
            $("#fileList").append( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css( 'width', percentage * 100 + '%' );
        });
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file ) {
            $( '#'+file.id ).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                    $error = $li.find('div.error');

            // 避免重复创建
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
        });



    </script>
</block>
<block name="body">
    <div class="row wrapper wrapper-content fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$currentpos}</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" id="refresh">
                            <i class="fa fa-refresh"></i>
                        </a>


                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">网站设置</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-3" aria-expanded="false">支付设置</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-4" aria-expanded="false">安全设置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站标题</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="title" id="title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站关键词</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="keyword" id="keyword" class="form-control">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="col-sm-2 control-label">网站LOGO</label>

                                        <div class="col-sm-10">
                                            <div id="fileList" class="uploader-list"></div>
                                            <div id="filePicker">选择图片</div>
                                        </div>
                                    </div>-->
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">PC端Logo</label>

                                        <div class="col-sm-10">
                                            <input type="file" id="pc_logo" name="pc_logo" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">WAP端Logo</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="wap_logo" name="wap_log" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">联系电话</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="tel" id="tel" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">联系QQ</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="qq" id="qq" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站开关</label>

                                        <div class="col-sm-10">
                                            <div class="onoffswitch" style="margin-top: 5px;">
                                                <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                                                <label class="onoffswitch-label" for="example1">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站关闭信息</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="qq" id="qq" class="form-control">
                                            <span class="help-block m-b-none">填写文字则提示，填写网址则跳转，如：http://alizi.net</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站运行模式</label>

                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="account">
                                                <option>动态模式</option>
                                                <option>伪静态模式</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网站主题</label>

                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="account">
                                                <option>灰色主题</option>
                                                <option>金色主题</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">表单模板</label>

                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="">
                                                <option>经典模式</option>
                                                <option>现代模式</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">表单选项</label>

                                        <div class="col-sm-10" style="padding-top: 5px;">
                                            <input type="checkbox" value=""> <i></i> 产品价格</label>
                                            <input type="checkbox" value=""> <i></i> 已售数量</label>
                                            <input type="checkbox" value=""> <i></i> 订购数量</label>
                                            <input type="checkbox" value=""> <i></i> 支付方式</label>
                                            <input type="checkbox" value=""> <i></i> 选择时间</label>
                                            <input type="checkbox" value=""> <i></i> 客户姓名</label>
                                            <input type="checkbox" value=""> <i></i> 客户手机</label>
                                            <input type="checkbox" value=""> <i></i> 客户电话</label>
                                            <input type="checkbox" value=""> <i></i> 地区选择</label>
                                            <input type="checkbox" value=""> <i></i> 详细地址</label>
                                            <input type="checkbox" value=""> <i></i> 邮政编码</label>
                                            <input type="checkbox" value=""> <i></i> QQ 号码</label>
                                            <input type="checkbox" value=""> <i></i> 电子邮箱</label>
                                            <input type="checkbox" value=""> <i></i> 备注留言</label>
                                            <input type="checkbox" value=""> <i></i> 验证号码</label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">显示发货通知</label>

                                        <div class="col-sm-10">

                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="option1" name="a"> <i></i> 不显示</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" checked="" value="option2" name="a"> <i></i> 下方显示</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" checked="" value="option2" name="a"> <i></i> 右侧显示</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">记录客户信息</label>

                                        <div class="col-sm-10">

                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="option1" name="a"> <i></i> 不记录</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" checked="" value="option2" name="a"> <i></i> 记录</label>
                                            </div>
                                            <span class="help-block m-b-none">记录则客户再次下单时不需填写信息</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">货到付款</label>
                                        <div class="col-sm-10">
                                            <div class="onoffswitch" style="margin-top: 5px;">
                                                <input type="checkbox" checked class="onoffswitch-checkbox" id="example2">
                                                <label class="onoffswitch-label" for="example2">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">到付额外费用</label>

                                        <div class="col-sm-10">
                                            <div class="input-group m-b"><span class="input-group-addon">&yen;</span>
                                                <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择到付时提示</label>

                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="info" name="info" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">手机号下单限制</label>
                                        <div class="col-sm-2">
                                            <div class="input-group m-b">
                                                <input type="text" class="form-control" value="10"> <span class="input-group-addon">笔</span>
                                            </div>
                                            <span class="help-block m-b-none">一个手机每天可对某一产品下单笔数</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">下单间隔限制</label>
                                        <div class="col-sm-2">
                                            <div class="input-group m-b">
                                                <input type="text" class="form-control" value="10"> <span class="input-group-addon">秒</span>
                                            </div>
                                            <span class="help-block m-b-none">对同一产品设置下单间隔，设置时长可以有效防止重复下单</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">IP下单限制</label>
                                        <div class="col-sm-2">
                                            <div class="input-group m-b">
                                                <input type="text" class="form-control" value="0"> <span class="input-group-addon">笔</span>
                                            </div>
                                            <span class="help-block m-b-none">限制每个IP每小时可下单笔数，0 则不限制</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">黑名单IP</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="banip" name="info" rows="3"></textarea>
                                            <span class="help-block m-b-none"> 每个IP用#分隔开，IP段可用*号代替</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="submit">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</block>